<h2>Reporter output</h2><table><tr><td>Pass. TC001 _ First and last name required test Pass. AUT return 'Enter a valid name.' which is expected.</td></tr>
<tr><td>Pass. TC001 _ First and last name required test Pass. AUT return 'Enter a valid name.' which is expected.</td></tr>
<tr><td>Pass. TC001 _ First and last name required test Pass. AUT return 'Enter a valid name.' which is expected.</td></tr>
<tr><td>Pass. TC001 _ First and last name required test Pass. Coz First and Last name value My First Name and Last Name Provided</td></tr>
<tr><td>Pass. TC002 _ Valid Email required test Pass. AUT return 'true' which is expected.</td></tr>
<tr><td>Pass. TC002 _ Valid Email required test Pass. AUT return 'true' which is expected.</td></tr>
<tr><td>Pass. TC002 _ Valid Email required test Pass. AUT return 'true' which is expected.</td></tr>
<tr><td>Pass. TC002 _ Valid Email required test Pass. AUT return 'true' which is expected.</td></tr>
<tr><td>Pass. TC002 _ Valid Email required test Pass. AUT return 'true' which is expected.</td></tr>
<tr><td>Pass. TC002 _ Valid Email required test Pass. Test Data provide valid Email as Testemail@pgi.com</td></tr>
<tr><td>Pass. TC003 Incorrect Password. Password field not present for unregister user nancy.jain@nagarro.com</td></tr>
<tr><td>Pass. TC003 Incorrect Password. Password field not present for unregister user dummyemail@gmail.com</td></tr>
<tr><td>Pass. TC003 Incorrect Password Test. AUT displayed 'Password incorrect.' message as user entered wrong password.</td></tr>
<tr><td>Pass. TC004. Forgot Password link navigate to right page</td></tr>
<tr><td>Pass. TC004 - Forget Password. AUT displayed This field is required.</td></tr>
<tr><td>Pass. TC004. Forgot Password link navigate to right page</td></tr>
<tr><td>Pass. TC004 - Forget Password. AUT displayed Please enter a valid email address.</td></tr>
<tr><td>Pass. TC004. Forgot Password link navigate to right page</td></tr>
<tr><td>Pass. TC004 - Forget Password. AUT displayed Password on the Way</td></tr>
<tr><td>Pass. TC004. Forgot Password link navigate to right page</td></tr>
<tr><td>Pass. TC004 - Forget Password. AUT displayed Could not find user with email mahmudulhasanbeta2@pgi.com</td></tr>
<tr><td>Warning   dummyemail@gmail.com is an unregistered user</td></tr>
<tr><td>TC006_loginUnRegisteredGuest_Host Password Field exception is invalid element state: Element is not currently interactable and may not be manipulated
  (Session info: chrome=52.0.2743.116)
  (Driver info: chromedriver=2.20.353145 (343b531d31eeb933ec778dbcf7081628a1396067),platform=Windows NT 6.1 SP1 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 30 milliseconds
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'GATMUHASAN-LT', ip: '10.20.55.103', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_91'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, chrome={userDataDir=C:\Users\mhasan\AppData\Local\Temp\scoped_dir10756_20826}, takesHeapSnapshot=true, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=52.0.2743.116, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=true, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true}]
Session ID: 833f327667cc25f28c0c3021b4856248</td></tr>
<tr><td>TC006_loginUnRegisteredGuest Test Case Skipping. Because Host failed to log in to the meeting room.</td></tr>
<tr><td>element not visible
  (Session info: chrome=52.0.2743.116)
  (Driver info: chromedriver=2.20.353145 (343b531d31eeb933ec778dbcf7081628a1396067),platform=Windows NT 6.1 SP1 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 20.11 seconds
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'GATMUHASAN-LT', ip: '10.20.55.103', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_91'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, chrome={userDataDir=C:\Users\mhasan\AppData\Local\Temp\scoped_dir11176_23234}, takesHeapSnapshot=true, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=52.0.2743.116, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=true, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true}]
Session ID: e68e76317e8a17e5006af2e5cb27e68f</td></tr>
<tr><td>element not visible
  (Session info: chrome=52.0.2743.116)
  (Driver info: chromedriver=2.20.353145 (343b531d31eeb933ec778dbcf7081628a1396067),platform=Windows NT 6.1 SP1 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 20.09 seconds
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'GATMUHASAN-LT', ip: '10.20.55.103', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_91'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, chrome={userDataDir=C:\Users\mhasan\AppData\Local\Temp\scoped_dir4020_7310}, takesHeapSnapshot=true, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=52.0.2743.116, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=true, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true}]
Session ID: 57b75c0dcacff13b6cbc7d4025d088b9</td></tr>
<tr><td>element not visible
  (Session info: chrome=52.0.2743.116)
  (Driver info: chromedriver=2.20.353145 (343b531d31eeb933ec778dbcf7081628a1396067),platform=Windows NT 6.1 SP1 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 25 milliseconds
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'GATMUHASAN-LT', ip: '10.20.55.103', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_91'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, chrome={userDataDir=C:\Users\mhasan\AppData\Local\Temp\scoped_dir7356_1084}, takesHeapSnapshot=true, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=52.0.2743.116, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=true, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true}]
Session ID: 73442856d5c436eef18555df71d052bf</td></tr>
<tr><td>Pass.Guest loged in after turn off the roomkey</td></tr>
</table>